phonemizer
torchcodec
transformers
torchcrepe
soundfile
torch
torchaudio
torchvision
numpy
tqdm
sentencepiece
huggingface-hub
librosa
audioread
resampy
safetensors
scipy
pandas
h5py
pyyaml
omegaconf
python-dotenv
tensorboard
wandb
matplotlib
seaborn
plotly
rich
psutil
gputil
py3nvml
typing-extensions
pytest
pytest-cov
black
flake8
mypy
textgrid
g2p-en
epitran
ninja
triton